In [99]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [100]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1031,tt1486192,26000000,29657751,The Raven,John Cusack|Luke Evans|Alice Eve|Brendan Glees...,James McTeigue,The only one who can stop a serial killer is t...,A fictionalized account of the last days of Ed...,111,Thriller,Relativity Media,3/9/2012,6.0,2012
358,tt0970452,45000000,7810000,Solomon Kane,James Purefoy|Pete Postlethwaite|Alice Krige|M...,Michael J. Bassett,Fight evil... With evil.,"A nomadic 16th century warrior, condemned to h...",104,Adventure|Fantasy|Action|Science Fiction,Davis-Films|Czech Anglo Productions|Wandering ...,9/16/2009,5.5,2009
931,tt0240900,14000000,6413915,Slackers,Jason Segel|Devon Sawa|Jason Schwartzman|Jaime...,Dewey Nicks,When all else fails... cheat.,"Dave, Sam and Jeff are about to graduate from ...",86,Comedy|Romance,Sony Pictures|Screen Gems,2/1/2002,5.7,2002

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [102]:
answers = {}  # создадим словарь для ответов
'''Дополнительный столбец для отражения прибыли'''
data['profit'] = data['revenue']-data['budget']


'''Это функция для разделения списка в последнем задании'''
def separ(x):
    for i in x:
        return i

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [103]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [104]:
# тут пишем ваш код для решения данного вопроса:
max_budget = data.loc[data['budget'] == data['budget'].max()]
max_budget.original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [105]:
# можно добавлять разные варианты решения
max_budget = data.groupby('original_title')['budget'].max().sort_values(ascending = False)
max_budget.index[0]

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [106]:
# думаю логику работы с этим словарем вы уже поняли, 
# поэтому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [107]:
max_runtime = data.loc[data['runtime']==data['runtime'].max()]
max_runtime.original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [108]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [109]:
min_runtime = data.loc[data['runtime'] == data['runtime'].min()]
min_runtime.original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [110]:
answers['4'] = '2. 110 minutes'

In [111]:
data['runtime'].mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [112]:
answers['5'] = '1. 107 minutes'

In [113]:
data['runtime'].median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [114]:
answers['6'] = '5. Avatar (tt0499549)'

In [115]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data['profit'] == data['profit'].max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [116]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [117]:
data[data['profit'] == data['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [118]:
answers['8'] = '1. 1478'

In [119]:
data[data['profit']>0]['imdb_id'].nunique()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [120]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [121]:
data2008 = data.query('release_year == 2008')
data2008[data2008['revenue'] == data2008['revenue'].max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [122]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [123]:
data_12_14 = data.query('2012<=release_year<=2014')
data_12_14[data_12_14['profit'] == data_12_14['profit'].min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [124]:
answers['11'] = '3. Drama'

In [125]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_list = data['genres'].str.cat(sep='|').split('|')
data_genres = pd.Series(genres_list)
data_genres.value_counts().sort_values(ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [126]:
genres = data.genres.apply(lambda x: x.split('|'))
genres_list = []
for i in genres:
    genres_list += i

# находим максимальное значение в полученном словаре:
a = max(Counter(genres_list).values())

# инвертируем, чтобы найти ключ по значению:
inv = {value: key for key, value in Counter(genres_list).items()}
inv[a]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [127]:
answers['12'] = '1. Drama'

In [128]:
new_data = data.query('profit>0')
genres_list = new_data['genres'].str.cat(sep='|').split('|')
data_genres = pd.Series(genres_list)
data_genres.value_counts().sort_values(ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [129]:
answers['13'] = '5. Peter Jackson'

In [130]:
data.groupby('director')['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [131]:
answers['14'] = '3. Robert Rodriguez'

In [132]:
new_data = data[data.genres.str.contains('Action')]
pd.Series(new_data['director'].str.cat(sep='|').split('|')).value_counts().index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [133]:
answers['15'] = '3. Chris Hemsworth'

In [134]:
data_12 = data.query('release_year == 2012')
cast = pd.Series(data_12['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)

for actor in cast.index:
    cast[actor] = data_12['revenue'][data_12['cast'].map(lambda x: True if actor in x else False)].sum()
cast.sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [135]:
answers['16'] = '3. Matt Damon'

In [136]:
data_bb = data[data['budget'] > data.budget.mean()]
cast = pd.Series(data_bb['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
cast.index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [137]:
answers['17'] = '2. Action'

In [138]:
data_NC = data[data['cast'].str.contains('Nicolas Cage')]
genres = pd.Series(data_NC['genres'].str.cat(sep='|').split('|'))
genres.value_counts().index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [139]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [140]:
data_PP = data[data['production_companies'].str.contains('Paramount Pictures')]
data_PP[data_PP['profit'] == data_PP['profit'].min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [141]:
answers['19'] = '5. 2015'

In [142]:
data_year = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)
data_year.index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [143]:
answers['20'] = '1. 2014'

In [144]:
data_WB = data[data['production_companies'].str.contains('Warner Bros')]
data_WB_year = data_WB.groupby('release_year')['profit'].sum().sort_values(ascending=False)
data_WB_year.index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [145]:
answers['21'] = '4. Сентябрь'

In [146]:
month_release = data['release_date'].apply(lambda x: x.split('/')[0]).value_counts()
month_release.index[0]

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [147]:
answers['22'] = '2. 450'

In [148]:
month_release = data.release_date.apply(lambda x: x.split('/')[0]).value_counts()
summer_release = month_release.loc[['6','7','8']].sum()
summer_release

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [149]:
answers['23'] = '5. Peter Jackson'

In [150]:
# получаем номера месяцев:
month_rel = data.release_date.apply(lambda x: x.split('/')[0])
# заменяем даты номерами месяцев:
data.release_date = month_rel
# оставляем только зимние месяцы:
winter_data = data.query('release_date in ["1","2","12"]')

# выявляем режиссера, который снял больше всего фильмов зимой:
director = pd.Series(winter_data['director'].str.cat(sep='|').split('|')).value_counts()
director.index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [151]:
answers['24'] = '5. Four By Two Productions'

In [152]:
companies = pd.Series(data.production_companies.str.cat(sep='|').split('|'))
companies = companies.value_counts(ascending=False)

data_len = data[['original_title', 'production_companies']]  # чтобы не менять значения в data
data_len.original_title = data_len.original_title.apply(lambda x: len(x))

for company in companies.index:
    companies[company] = data_len['original_title'][data_len['production_companies'].map(lambda x: True if company in x else False)].mean()
companies.sort_values(ascending=False).index[0]

C:\Users\Andrew\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [153]:
answers['25'] = '3. Midnight Picture Show'

In [154]:
# Выделяем нужные столбцы (просто для удобства):
data_overview = data[['overview', 'production_companies']]

companies = pd.Series(data.production_companies.str.cat(sep='|').split('|'))
companies = companies.value_counts(ascending=False)

# Считаем, сколько слов в каждом описании и записываем число вместо самого описания:
data_overview.overview = data_overview.overview.apply(lambda x: len((x).split()))

# Каждому индексу в companies присваиваем среднее значение длин описаний соответствующей компании
for company in companies.index:
    companies[company] = data_overview['overview'][data_overview['production_companies'].map(lambda x:
                                                   True if company in x else False)].mean()
companies.sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [155]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [156]:
# сортируем рейтинги по убыванию
data_rating = data.vote_average.sort_values(ascending=False)
# получаем 1 процент строк с самым высоким рейтингом:
n = int(len(data_rating)*0.01)
# минимальный рейтинг среди 1 процента самых высоких:
high_rating_min = (data_rating.head(n)).min()
data[data['vote_average'] >= high_rating_min]['original_title']

9                                              Inside Out
28                                              Spotlight
34                                                   Room
118                                          Interstellar
119                               Guardians of the Galaxy
124                                            Big Hero 6
125                                    The Imitation Game
128                                             Gone Girl
138                              The Grand Budapest Hotel
155                              The Theory of Everything
177                                The Fault in Our Stars
283                                            Mr. Nobody
316                                              3 Idiots
370                                             Inception
496     The Lord of the Rings: The Fellowship of the Ring
599                                       The Dark Knight
863                 The Lord of the Rings: The Two Towers
872                                           The Pianist
1081        The Lord of the Rings: The Return of the King
1183                              The Wolf of Wall Street
1188                                                  Her
1191                                     12 Years a Slave
1205                                            Prisoners
1213                                   Dallas Buyers Club
1444                                         The Prestige
1563                Eternal Sunshine of the Spotless Mind
1688                                  There Will Be Blood
1800                                              Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [157]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [158]:
# Создаём датафрйм, в котором в столбце актёров расположены списки, а не строки
new_data = pd.DataFrame(data['cast'].apply(lambda x: x.split('|')))

# Теперь создаём Series, содержащий все возможные пары для каждого фильма
pairs = new_data.cast.apply(lambda x: list(it.combinations(x, 2)))
# И добавляем его в виде столбца в датафрейм, который мы создали выше
new_data['pairs'] = pairs

# Создаём список, в который передаём все пары актёров из всех фильмов,
# функцию separ() см. в предобработке
pair_list = (list(new_data['pairs'].apply(separ)))

# Ну и наконец считаем, сколько раз встречается каждая пара
c = Counter()
for pair in pair_list:
    c[pair] += 1
count_pairs = pd.Series(c)
# И выбираем самую частую
count_pairs.sort_values(ascending=False).index[0]

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [159]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110 minutes',
 '5': '1. 107 minutes',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [160]:
# и убедиться что ничего не пропустил)
len(answers)

27